<div id="aboutCont" class="bgAzure">
<h2>Benvenuto in CarPooling, il sito di chi ama viaggiare in compagnia! </h2>
<p>
   In questa pagina troverai tutte le informazioni necessarie per immergerti nel mondo del carpooling.
   <br />
   Iscriviti al nostro sito ed allaccia la cintura di sicurezza: si parte!
</p>
<br />
<h2>Cos'&egrave; il Carpooling?</h2>
<p>Il carpooling (o car-sharing, "auto condivisa") consiste nell'utilizzo condiviso di un mezzo di trasporto privato. Coloro che devono affrontare un viaggio decidono di aprire la partecipazione ad altre persone. In questo contesto si indica col termine 'carpoolers' tutti i membri (autista e passeggeri) del viaggio.
</p>
<br />
<h2>Perch&egrave; utilizzare il carpooling?</h2>
I vantaggi che derivano dal carpooling sono molteplici:
<ul class="disco" style="padding-left: 20px">
   <li>
   <em>Vantaggi individuali</em>
   <ul class="cerchio" style="padding-left: 20px">
      <li>non &egrave; necessario possedere un auto per viaggiare</li>
      <li>le spese viaggio (carburante, pedaggi, imposte, ...)
	 possono essere divise
      </li>
      <li>non si viaggia da soli</li>
      <li>si conoscono nuove persone</li>
   </ul>
   </li>
   <li>
   <em>Vantaggi collettivi</em>
   <ul class="cerchio" style="padding-left: 20px">
     <li>minore traffico</li>
     <li>minore bisogno di parcheggi</li>
     <li>minore inquinamento</li>
   </ul>
   </li>
</ul>
<br />
<h2>A cosa serve questo sito?</h2>
<p>Questo sito si propone come un vero e proprio punto di riferimento per tutti i 'carpoolers', ma anche per tutti coloro che vogliono provare per la prima volta questa esperienza.<br />
Ora &egrave; semplice e veloce entrare nel mondo del carpooling :
</p>
   <ul>
      <li>puoi vedere in tempo reale sulle Google Maps il tuo tragitto e le indicazioni stradali per arrivare in una localit&agrave; di tua scelta.
      </li>
      <li>Tramite l'utilizzo dei feedback &egrave; possibile commentare i propri compagni di viaggio e vedere i commenti degli altri che hanno gi&agrave; viaggiato con loro. Cos&igrave; possibile evitare le persone pi&ugrave; 'sgradevoli', garantendoti un viaggio di tutto relax e divertimento, magari con persone che hai conosciuto proprio grazie a CarPooling!
      </li>
      </ul>
<br />
<h2>Come utilizzare questo sito?</h2>
   <ul>
      <li>Nella pagina di ricerca, potrai visualizzare tutte le informazioni relative ad un percorso da te selezionato: basta solo indicare la citt&agrave; di partenza e di arrivo!</li>
      <li>Nella pagina tragitti potrai visualizzare l'elenco degli ultimi percorsi inseriti: un ottimo strumento per controllare rapidamente se &egrave; gi&agrave; attivo un tragitto che ti interessa! </li>
      <li>La pagina utenti ti consente di visualizzare tutte le informazioni e le statistiche relative a tutti gli iscritti </li>
   </ul>
    Da semplice visitatore, non potrai avere che un 'assaggino' : iscriviti subito per entrare a peno titolo nel mondo dei 'carpoolers'! <br/>
    Compila il form per avere pieno accesso alle funzionalit&agrave; del sito.
   <ul>
      <li>Per viaggiare, &egrave; necessaria un' auto. Puoi facilmente inserire la tua auto nel nostro database ed iniziare a creare i tuoi tragitti. E' ovviamente possibile registrare pi&ugrave; di un auto. <br/>
                    Non solo: attraverso la funzionalit&agrave;' proprietario, puoi decidere di aggiungere altri utenti del sito alla propriet&agrave; della tua auto, consentendogli di creare percorsi con la stessa auto. 
                    Questa funzione &egrave; particolarmente utile per persone che fanno parte della stessa famiglia!
      </li>
      <li>Nella pagina inserisci potrai creare il tuo tragitto : inserisci tutte le informazioni del tuo percorso ed attendi che simpatici compagni di viaggio si uniscano a te!</li>
      <li>La pagina utenti ti consente di visualizzare tutte le informazioni e le statistiche relative a tutti gli iscritti </li>
   </ul>
<p>Questo &egrave; tutto... se hai dubbi, domande, suggerimenti o curiosit&agrave; non esitare a <a href="mailto:admin@carpooling.it?Subject=Supporto Utenti"> contattarci</a> .
</p>
</div>
