<script type="text/javascript" src="script/dateSelector.js"></script>
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/prototype.js"></script>
<script type="text/javascript">
<!--
function dofill() {
   var to_update = new Array ('targa','marca','modello',
      'cilindrata','condizioni','note');

   new Ajax.Updater( 'result', 'pages/getdata_auto.php', 
    { method: 'post', parameters: $('autoForm').serialize(),
   onSuccess: function( transport ) {

   for (var i=0; i<to_update.length; i++)
      $(to_update[i]).value = transport.responseXML.
	 getElementsByTagName(to_update[i])[0].firstChild.nodeValue;
   } } );

   $('targa','marca','modello','cilindrata').invoke("disable");
}
-->
</script>

<!-- Contenitore colorato -->
<div class="bgGreen" style="width: 500px; margin: auto;">
   <h1 class="green">Gestione auto</h1>
   <form id="autoForm" class="registrazione" action="index.php?p=auto&amp;action=registerAuto" method="post">
   <div>
      <!-- REGISTEREDAUTOS -->
   </div>
      <div>Tutti i campi sono obbligatori.</div>
      <ul style="width: auto;">
         <li>
            <label for="marca">Marca</label>
            <input id="marca" name="marca" class="textField" size="20"/>
	 </li>
	 <li>
            <label for="modello">Modello</label>
            <input id="modello" name="modello" class="textField" size="20"/>
	 </li>
	 <li>
            <label for="targa">Targa</label>
            <input id="targa" name="targa" class="textField" size="20"/>
	 </li>
	 <li>
            <label for="cilindrata">Cilindrata</label>
            <input id="cilindrata" name="cilindrata" class="textField" size="20"/>
         </li>
         <li>
            Immatricolazione<br/> 
	    Inserire select
         </li>
         <li>
            <label for="condizioni">Condizioni generali</label>
	    <select name ="condizioni" id="condizioni" >
	       <option value=""> </option>
	       <option value="1">Pessima</option>
	       <option value="2">Scarsa</option>
	       <option value="3">Buona</option>
	       <option value="4">Ottima</option>
	       <option value="5">Eccellente</option>
	    </select>
	 </li>
	 <li>
            <label for="note">Note</label><br/>
            <textarea name="note" id="note" cols="40" rows="5">
	    </textarea><br />
            <span class="notes">Puoi scrivere altro sull'auto o sulle sue condizioni</span>
         </li>
         <li class="center">
         <!-- Validazione contenuti del form -->
      <script type="text/javascript" src="script/carValidate.js"></script>
      <button id="signUpButton" type="button" value="Registrati!" onclick="validaAuto()">
   	 Invia
      </button>
      <button id="clearButton" type="reset">Pulisci</button>
         </li>
      </ul>     
      
   </form> <!-- Fine del Form -->
</div> <!-- Fine del contenitore colorato -->
