<!-- Contenitore globale-->
{ welcome() }

<!-- Contenuti che stanno sulla destra -->
<div id="sidebar">
   <form id="mapForm">
      <ul class="center bgAzure" style="margin: auto; width: 140px;">
	 <li>
	    <label for="partenza" class="red">Citt&agrave; di partenza</label><br />
	    <input id="partenza" name="partenza"  size="16"/>
	 </li>
	 <li>
	    <label for="destinaz" class="green">Citt&agrave; di arrivo</label><br />
	    <input id="destinaz" name="destinaz"  size="16"/>
	 </li>
	 <!-- Bottoni Funzione  -->
	 <li>
	    <button id="searchButton" type="button" onclick="risultatiAjax()">Ricerca</button>
	    <button id="directionsButton"  type="button" onclick="creaIndicazioni()">Mostra indicazioni</button>
	 </li>
	 <!-- Contenitore delle direzioni  -->
      </ul>
   </form>
   <div id="risultati">
	       Qui andranno i risultati della ricerca (cioe' i tragitti che corrispondono).
   </div>
</div>
<!-- Contenuti che stanno a sinistra -->
<div style="width: 510px;">
   <div id="carPoolingMap"></div>
   <div id="directions"></div>
</div>
