<script type="text/javascript" src="script/dateSelector.js"></script>
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/focusFirst.js"></script>
<div class="bgAzure" style="width: 350px; margin: auto;">
<form class="registrazione" method="post" id="iscrizioneForm" name="iscrizioneForm" action="index.php?action=register">
<div class="intestazione">
   <h1 class="titoli red">Iscriviti!</h1>
   <h2 class="titoli green">Semplice, veloce, gratuito</h2>
</div>
<p>Tutti i campi sono obbligatori.</p>
<ul>
   <li>
      <label for="nome">Nome</label><br />
      <input id="nome" name="nome"  size="20"/>
   </li>
   <li>
      <label for="cognome">Cognome</label><br />
      <input id="cognome"  name="cognome"  size="20" />
   </li>
   <li>
      Data di Nascita
      { italianDate(Nascita) }
   </li>
   <li>
      Quando hai conseguito la patente?
      { italianDate(Patente) }
   </li>
   <li>
      <label for="email">Indirizzo e-mail</label><br />
      <input id="email" name="email"  size="30"/><br />
      A questo indirizzo ti verra' spedita la mail di conferma
   </li>
   <li>
      <label for="fumatoreNo">Sei un fumatore?</label>
      <input id="fumatoreSi" name="fumatore"  type="radio" value="true"/>
      <label for="fumatoreSi">Si</label>
      <input id="fumatoreNo" checked="checked" name="fumatore"  type="radio" value="false"  />
      <label for="fumatoreNo">No</label>
   </li>
   <li>
      <label for="sessoF">Sesso</label>
      <input id="sessoF" name="sesso"  type="radio" value="f"/>
      <label for="sessoF">F</label>
      <input id="sessoM" checked="checked" name="sesso"  type="radio" value="m"  />
      <label for="sessoM">M</label>
   </li>
   <li>
      <label for="user">Username</label><br />
      <input id="user" name="user"  size="20"/>
   </li>
   <li>
      <label for="psw">Password</label><br />
      <input id="psw" name="psw" type="password" size="10"/><br />

      <label for="psw2">Reinserisci la password</label><br />
      <input id="psw2" name="psw" type="password" size="10"/><br />
   </li>
   <li>
      <label id="titolo6" for="citta">Citt&agrave; preferenziale per la partenza</label><br />
      <input id="citta" name="citta"  size="30" /> <br />
      Potrai eventualmente modificarla in seguito
   </li>
   <!-- Validazione contenuti del form -->
<script type="text/javascript" src="script/iscrizioneValidate.js"></script>
   <li class="center">
      <button id="signUpButton" type="button" value="Registrati!" onClick="validaIscr()">
      Registrati
      </button>
      <button id="clearButton" type="reset" value="Cancella i campi">
      Cancella i campi
      </button>
   </li>
</ul>

</form>
</div>
