<script type="text/javascript" src="script/dateSelector.js"></script>
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/focusFirst.js"></script>
<div class="bgAzure" style="width: 350px; margin: auto;">
<form class="registrazione" method="post" id="iscrizione"
   action="index.php">
<div class="intestazione">
   <h1 class="titoli red">Iscriviti!</h1>
   <h2 class="titoli green">Semplice, veloce, gratuito</h2>
</div>
<p>Tutti i campi sono obbligatori.</p>
<ul>
   <li>
      <label for="nome">Nome</label><br />
      <input id="nome" name="nome" class="textField" size="20"/>
   </li>
   <li>
      <label for="cognome">Cognome</label><br />
      <input id="cognome"  name="cognome" class="textField" size="20" />
   </li>
   <li>
      <label for="gNascita">Data di Nascita</label><br />
      <input id="gNascita" name="gNascita" size="2" />
      <input id="mNascita" name="mNascita" class="textField" size="2" />
      <input id="aNascita" name="aNascita" class="textField" size="4" />
   </li>
   <li>
      <label for="gPatente">Quando hai conseguito la patente?</label><br />
      <input id="gPatente" name="gPatente" size="2" /> / 
      <input id="mPatente" name="mPatente" size="2" /> / 
      <input id="aPatente" name="aPatente" size="4" />  
   </li>
   <li>
      <label id="titolo3" for="email">Indirizzo e-mail</label><br />
      <input id="email" name="email" class="textField" size="30"/><br />
      A questo indirizzo ti verra' spedita la mail di conferma
   </li>
   <li>
      <label id="titolo4" for="fumatoreNo">Sei un fumatore?</label>
      <input id="fumatoreSi" name="fumatore" class="radioField" type="radio" value="true"/>
      <label for="fumatoreSi">Si</label>
      <input id="fumatoreNo" checked="checked" name="fumatore" class="radioField" type="radio" value="false"  />
      <label for="fumatoreNo">No</label>
   </li>
   <li>
      <label for="user">Username</label><br />
      <input id="user" name="user" class="textField" size="20"/>
   </li>
   <li>
      <label for="psw">Password</label><br />
      <input id="psw" name="psw" class="textField" size="10"/><br />

      <label for="psw2">Reinserisci la password</label><br />
      <input id="psw2" name="psw" class="textField" size="10"/><br />
   </li>
   <li>
      <label id="titolo6" for="citta">Citt&agrave; preferenziale per la partenza</label><br />
      <input id="citta" name="citta" class="textField" size="30" /><br />
      Potrai eventualmente modificarla in seguito
   </li>
   <li class="center">
      <button id="signUpButton" type="button" value="Registrati!">
      Registrati
      </button>
      <button id="clearButton" type="reset" value="Cancella i campi">
      Cancella i campi
      </button>
   </li>
</ul>
<!-- Validazione contenuti del form -->
<script type="text/javascript" src="script/iscrizioneValidate.js"></script>
</form>
</div>
