<script type="text/javascript" src="script/dateSelector.js"></script>
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/focusFirst.js"></script>
<div class="bgAzure" style="width: 350px; margin: auto;">
<form class="registrazione" method="post" id="iscrizioneForm"  action="index.php?p=iscrizione&amp;action=register">
<div class="intestazione">
   <h1 class="titoli red">Iscriviti!</h1>
   <h2 class="titoli green">Semplice, veloce, gratuito</h2>
</div>
<p>Tutti i campi sono obbligatori.</p>
<ul>
   <li>
      <label for="nome" id="nomeLabel">Nome</label><br />
      <input id="nome" name="nome"  size="20"/>
   </li>
   <li>
      <label for="cognome" id="cognomeLabel">Cognome</label><br />
      <input id="cognome"  name="cognome"  size="20" />
   </li>
   <li>
      <span id="nascitaLabel">Data di Nascita</span><br/>
      { italianDate(1930,1990,Nascita) }
   </li>
   <li>
      <span id="patenteLabel">Quando hai conseguito la patente ?</span><br/>
      { italianDate(1948,2008,Patente) }
   </li>
   <li>
      <label for="email" id="emailLabel">Indirizzo e-mail</label><br />
      <input id="email" name="email"  size="20"/><br />
   </li>
   <li>
      <label for="fumatoreNo">Sei un fumatore?</label>
      <input id="fumatoreSi" name="fumatore"  type="radio" value="true"/>
      <label for="fumatoreSi">Si</label>
      <input id="fumatoreNo" checked="checked" name="fumatore"  type="radio" value="false"  />
      <label for="fumatoreNo">No</label>
   </li>
   <li>
      <label for="sessoF">Sesso</label>
      <input id="sessoF" name="sesso" type="radio" value="f"/>
      <label for="sessoF">F</label>
      <input id="sessoM" checked="checked" name="sesso"  type="radio" value="m"  />
      <label for="sessoM">M</label>
   </li>
   <li>
      <label for="user" id="userLabel">Username</label><br />
      <input id="user" name="user"  size="20"/>
   </li>
   <li>
      <label for="psw" id="pswLabel" >Password</label><br />
      <input id="psw" name="psw" type="password" size="10"/><br />
   </li>
   <li>
      <label for="psw2" id="psw2Label">Reinserisci la password</label><br />
      <input id="psw2" name="psw" type="password" size="10"/>
   </li>
   <li>
      <label for="citta" id="cittaLabel">Citt&agrave; preferenziale di partenza</label><br />
      <input id="citta" name="citta"  size="30" /> <br />
      <span class="notes">Potrai eventualmente modificarla in seguito</span>
   </li>
   <!-- Validazione contenuti del form -->
   <li class="center">
      <button id="signUpButton" type="button" value="Registrati!" onclick="validaIscr()">
      Registrati
      </button>
      <button id="clearButton" type="reset" value="Cancella i campi">
      Cancella i campi
      </button>
   </li>
</ul>
<script type="text/javascript" src="script/iscrizioneValidate.js"></script>
</form>
</div>
