<script type="text/javascript" src="script/dateSelector.js"></script>
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/focusFirst.js"></script>
<script type="text/javascript" src="script/prototype.js"></script>

<!-- Contenitore globale di tutti gli elementi -->
<div id="container"> 
   <p>In questa pagina potrai creare e pubblicare un tragitto.</p>
   <div id="carPoolingMap" style="width: 530px; height: 330px"></div>
   <!-- Tabella delle indicazioni -->
<div id="directions" class="destra" style="width: 200px"></div>
   <p>Inserisci le informazioni relative al tuo percorso completando tutti i campi sottostanti</p>
<!--  Form per la creazione del percorso.	-->
<div class="bgGold">

<form action="index.php?action=registerTrip" method="post" id="mapForm" class="newTrip">
   <ul>
      <!-- Selezione auto-->
      <li> 
      <label for="idAuto" id="selezionaAuto">Seleziona l'auto : </label><br/>
	 { cars_ofUser(getUserId()) }
      </li>
	 <!-- Citta' di partenza e arrivo e relativi bottoni -->
      <li>
	 <label for="partenza" id="partenzaLabel">Citt&agrave; di partenza</label><br/>
	 <input id="partenza" name="partenza" size="16"/><br/>
      </li>
      <li>
	 <label for="destinaz" id="destinazLabel" >Citt&agrave; di arrivo</label><br/>
	 <input id="destinaz" name="destinaz" size="16"/>
      </li>
       <li>
	    <label for="directionsCheck" style="font-weight:normal">
	       Mostra indicazioni
	    </label>
	    <input name="directionsCheck" id="directionsCheck" 
	       type="checkbox" value="directions" style="width: auto"/>
	 </li>
	 <li>
	    <button id="searchButton" type="button" onclick="risultatiAjax()">
	       Ricerca
	    </button><br />
	 </li>
<!-- Altre informazioni , contenute in un unico blocco -->
   <li>
      <label for="giornoPartenza" id="dataPLabel" > Data della Partenza</label><br/>
      { italianDate(2008,2020,Partenza) }
   </li>
   <li>
     <label for="ora" id="oraPLabel" > Orario di partenza</label><br/>
      { timeSelect() }<br />
      <span class="notes">es. 08:00</span>
   </li>
   <li>
      <label for="durataOra" id="durataLabel">Durata del viaggio</label> <br/>
      { durataSelect() }<br />
      <span class="notes">es. 1:30 per 1h e 30 m</span>
   </li>
   <li>
      <label for="postiDisp" id="postiLabel">Posti Disponibili</label><br/>
      <input id="postiDisp" name="postiDisp" size="20"/><br />
      <span class="notes">Numero di persone che puoi ospitare</span>
   </li>
   <li>
      E' un viaggio per fumatori?
      <input id="fumoSi" class="radioField" name="fumo" type="radio" value="true"/>
      <label for="fumoSi" class="radiolabel">Si</label>
      <input id="fumoNo"  class="radioField" checked="checked" name="fumo" type="radio" value="false"  />
      <label for="fumatoreNo" class="radiolabel">No</label>
   </li>
   <li>
      Hai musica a bordo?
      <input id="musicaSi" class="radioField" name="musica" type="radio" value="true"/>
      <label class="radiolabel" for="musicaSi">Si</label>
      <input id="musicaNo" checked="checked" name="musica" class="radioField" type="radio" value="false"  />
      <label class="radiolabel" for="musicaNo">No</label>
   </li>
   <li>
      <label for="spese" id="speseLabel">Spese previste</label><br/>
      <input id="spese" name="spese"  size="20"/><br/>
      <span class="notes">(in &#8364;) Saranno divise tra i partecipanti</span>
   </li> 
   <li>
      <label class="upLabel" for="note">Note</label><br/>
      <textarea id="note" name="note" cols="40" rows="5"></textarea>
   </li>
   <li class="center">
   <!-- Validazione contenuti del form -->
   <script type="text/javascript" src="script/tragittoValidate.js"></script>
      <button id="confirmButton" type="button" value="Conferma!" onclick="validaTrip()">
	 Registra il tragitto
      </button>
      <button id="clearButton" type="reset" value="Cancella i campi">
	 Cancella i campi
      </button>
   </li>
</ul>
</form>

</div> <!-- Fine del contenitore colorato-->

</div>	<!-- Fine del contenitore generale -->    
