<!-- Contenitore globale di tutti gli elementi -->
<div id="container"> 
    <p>In questa pagina potrai creare e pubblicare un tragitto.</p>
    
    <!-- Tabella che contiene la GMap , le indicazioni ed il Form. Intestazione 1 riga , 2 celle-->
    <table class="directions">
	<tr>
	    <th>Mappa</th>
	    <th>Indicazioni Stradali</th>
	</tr>
	<tr>
	    <td valign="top">
		 <!-- GMap	-->
		<div id="carPoolingMap" style="width: 630px; height: 370px"></div>
		<p>Inserisci le informazioni relative al tuo percorso completando tutti i campi sottostanti</p>
		<!--  Form per la creazione del percorso. NON cambiare il nome del Form	-->
		<form action="index.php?action=registerTrip" method="post" name="mapForm">
		    <ul>
			<!-- Selezione auto-->
			<li> 
			    <label id="selectAutoLabel" for="selectAuto">Seleziona un'auto : </label>
				<!-- AUTOS -->
			</li>
			<!-- Città di partenza e arrivo e relativi bottoni -->
			<li class="sinistra">
				<span>
				<label class="upLabel" id="titolo1" for="partenzaText">Citt&agrave; di partenza</label>
				<input id="partenzaText" name="partenzaText" class="textField" size="16"/>
				</span>
			</li>
			<li class="destra">
				<span>
				<label class="upLabel" id="titolo2" for="arrivoText">Citt&agrave; di arrivo</label>
				<input id="arrivoText" name="arrivoText" class="textField" size="16"/>
				</span>
				<span>
				<button id="searchButtonN"  type="button" value="Visualizza!" onclick="creaPercorso()"/>
				<button id="directionsButtonN"  type="button" value="Mostra indicazioni!" onclick="creaIndicazioni()"/>
				</span>
			</li>
			<!-- Altre informazioni -->
			<li >
				<label class="upLabel" id="titolo2b" for="gNascita">Data di Partenza</label>
				<span>
				<input id="gPartenza" name="gPartenza" class="textField" size="2" /> 
				<label> /</label>	
				<label class="commento data" for="gPartenza">GG</label>
				</span>
				<span>
				<input id="mPartenza" name="mPartenza" class="textField" size="2" /> / 
				<label class="commento data" for="mPartenza">MM</label>
				</span>
				<span>
				<input id="aPartenza" name="aPartenza" class="textField" value="2008" size="4" />  
				<label class="commento data" for="aPartenza">AAAA</label>
				</span>
				</li>
				<li>
				<span>
				<label class="upLabel" id="titolo3" for="oraPartenza">Orario di partenza</label>
				<input id="oraPartenza" name="oraPartenza" class="textField" size="20"/>
				<label class="commento" for="oraPartenza">es. 08:00</label>
				</span>
				<span>
				<label class="upLabel" id="titolo4" for="durata">Durata del viaggio</label>
				<input id="durata" name="durata" class="textField" size="20"/>
				<label class="commento" for="durata">es. 1:30 per 1h e 30 m</label>
				</span>
				<span>
				<label class="upLabel" id="titolo5" for="passeggeri">Numero di passeggeri</label>
				<input id="passeggeri" name="passeggeri" class="textField" size="20"/>
				<!--<label class="commento" for="durata">es. 1:30 per 1h e 30 m</label>-->
				</span>
			</li>
			
			<li class="sinistra">
				<span>
				<label class="upLabel" id="titolo6" for="fumatoreSi">E' un viaggio per fumatori?</label>
				<input id="fumatoreSi" name="fumatore" class="radioField" type="radio" value="true"/>
				<label for="fumatoreSi">Si</label>
				<input id="fumatoreNo" checked="checked" name="fumatore" class="radioField" type="radio" value="false"  />
				<label for="fumatoreNo">No</label>
				</span>
				<span>
				<label class="upLabel" id="titolo7" for="musicaSi">Hai musica a bordo?</label>
				<input id="musicaSi" name="musica" class="radioField" type="radio" value="true"/>
				<label for="musicaSi">Si</label>
				<input id="musicaNo" checked="checked" name="musica" class="radioField" type="radio" value="false"  />
				<label for="musicaNo">No</label>
				</span>
				<span>
				<label class="upLabel" id="titolo8" for="spese">Spese previste</label>
				<input id="spese" name="spese" class="textField" size="20"/>
				<label class="commento" for="spese">Saranno divise tra i partecipanti</label>
				</span>
			</li> 
			
			<li class="sinistra">
				<span>
				<label class="upLabel" id="titolo9" for="note">Note</label>
				<input id="note" name="note" class="textField" rows="5" cols="100"/>
				</span>
			</li>
			<li>		
				<input id="confirmButton"  type="submit" value="Conferma!" onclick=""/>
			</li>
		    </ul>
		</form>
	    </td>
	    
	    <!-- Tabella delle indicazioni -->
	    <td valign="top"><div id="directions" style="width: 200px"></div></td>
	</tr>
    </table> 	   <!-- Fine della tabella-->
</div>	<!-- Fine del contenitore generale -->
 
    
