<script type="text/javascript">
<!--
function updateProfilo() {
      var e = document.getElementById("hiddenProfilo");
   e.value = "updateProfilo";
   var f = document.getElementById("profiloForm");
   f.submit();
   
   
}
   
-->
</script>
<div id="profilo" class="left">
<ul class="profilo bgAzure">
<form id="profiloForm" method="post" action="index.php?p=profilo&amp;action=manageProfilo">
<li>
   <span class="commento">userName</span>
   <span class="valori">{ $r1[userName] }</span>
</li>
<li>
   <span class="commento">affidabilit&agrave;</span>
   <div class="valori"> 
   <span>Molto affidabile</span>
   <span class="trust">
   <span class="green">13</span> / 
   <span class="red">1</span>
   </span>
   </div>
</li>
<li>
   <span class="commento">Nome</span>
   <span class="valori">{ $r1[nome] }</span>
</li>
<li>
   <span class="commento">Cognome</span>
   <span class="valori">{ $r1[cognome] }</span>
</li>
<li>
   <span class="commento">Et&agrave;</span>
   <span class="valori">{ $r1[eta] } anni</span>
</li>
<li>
   <span class="commento">email</span>
   <span class="valori">{ $r1[email] }</span>
</li>
<li>
   <span class="commento">Guida da</span>
   <span class="valori">{ $r1[patente] } anni</span>
</li>
<li>
   <span class="commento">Fumatore</span>
   <span class="valori">{ $r1[fumatore] }</span>
</li>
<li>
   <span class="commento">Localit&agrave;</span>
   <span class="valori">{ $r1[localita] }</span>
</li>
<li>
   <span class="commento">Iscritto dal</span>
   <span class="valori">{ $r1[dataIscriz] }</span>
</li>
<li>
<div class="pulsanti">
<input type="hidden" id="hiddenProfilo" name="hiddenProfilo" value="modifyProfilo"/>
{ $button }
</div>
</li>
</form>
</ul>
</div>
<div class="right">
   <div class="bgGold little ">
      <h4>L'utente &egrave;...</h4>
      { user_getTrusting(getUserId()) }
      <br/>
      { user_getFeedbacksReport(getUserId()) }
   </div>
   <div class="bgGreen little ">
      <h4>Ultimi tragitti organizzati</h4>
      { trips_lastOrganized(getUserId()) }
   </div>
   <div class="bgRed little ">
      <h4>Ultimi tragitti a cui ha partecipato</h4>
      { trips_lastJoined(getUserId()) }
   </div>
</div>
