<div id="profilo" class="left">
<ul class="profilo bgAzure">
<li>
   <span class="commento">userName</span>
   <span class="valori">{ $r1[userName] }</span>
</li>
<li>
   <span class="commento">affidabilit&agrave;</span>
   <div class="valori"> 
   <span>Molto affidabile</span>
   <span class="trust">
   <span class="green">13</span> / 
   <span class="red">1</span>
   </span>
   </div>
</li>
<li>
   <span class="commento">Nome</span>
   <span class="valori">{ $r1[nome] }</span>
</li>
<li>
   <span class="commento">Cognome</span>
   <span class="valori">{ $r1[cognome] }</span>
</li>
<li>
   <span class="commento">Et&agrave;</span>
   <span class="valori">{ $r1[eta] } anni</span>
</li>
<li>
   <span class="commento">email</span>
   <span class="valori">{ $r1[email] }</span>
</li>
<li>
   <span class="commento">Guida da</span>
   <span class="valori">{ $r1[patente] } anni</span>
</li>
<li>
   <span class="commento">Fumatore</span>
   <span class="valori">prova</span>
</li>
<li>
   <span class="commento">Localit&agrave;</span>
   <span class="valori">{ $r1[localita] }</span>
</li>
<li>
   <span class="commento">Iscritto dal</span>
   <span class="valori">{ $r1[dataIscriz] }</span>
</li>
<li>
<div class="pulsanti">
<button type="button" name="modifica" value="modifica">Modifica</button>
</div>
</li>
</ul>
</div>
<div class="right">
   <div class="bgGreen little ">
      <h4>I tuoi ultimi tragitti</h4>
         <!-- LISTATRAGITTI -->
   </div>
</div>
