<script type="text/javascript">
<!--
function updateProfilo() {
   var e = document.getElementById("hiddenProfilo");
   e.value = "updateProfilo";
   validaProfilo();
}
   
-->
</script>

<div id="profilo" class="left">
<form id="profiloForm" method="post" action="index.php?p=profilo&amp;action=manageProfilo">
<ul class="profilo bgAzure">
<li>
   <span class="commento">userName</span>
   <span class="valori">{ $r1[userName] }</span>
</li>
<li>
   <span class="commento">affidabilit&agrave;</span>
   <div class="valori"> 
   <span>{ trust($r1[ID]) }</span>
   </div>
</li>
<li>
   <span class="commento">Nome</span>
   <span class="valori">{ $r1[nome] }</span>
</li>
<li>
   <span class="commento">Cognome</span>
   <span class="valori">{ $r1[cognome] }</span>
</li>
<li>
   <span class="commento">Et&agrave;</span>
   <span class="valori">{ $r1[eta] } anni</span>
</li>
<li>
   <span class="commento">email</span>
   <span class="valori">{ $r1[email] }</span>
</li>
<li>
   <span class="commento">Guida da</span>
   <span class="valori">{ $r1[patente] } anni</span>
</li>
<li>
   <span class="commento">Fumatore</span>
   <span class="valori">{ $r1[fumatore] }</span>
</li>
<li>
   <span class="commento">Localit&agrave;</span>
   <span class="valori">{ $r1[localita] }</span>
</li>
<li>
   <span class="commento">Iscritto dal</span>
   <span class="valori">{ $r1[dataIscriz] }</span>
</li>
<li>
<div class="pulsanti">
<!-- Validazione contenuti del form -->
<script type="text/javascript" src="script/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="script/profiloValidate.js"></script>
<input type="hidden" id="hiddenProfilo" name="hiddenProfilo" value="modifyProfilo"/>
{ $button }
</div>
</li>
</ul>
</form>
</div>
<div class="right">
   <div class="bgGreen little">
      <h4>Ultimi tragitti organizzati</h4>
      { trips_lastOrganized($_GET[u]) }
   </div>
   <div class="bgRed little ">
      <h4>Tragitti a cui prender&agrave; / ha preso parte</h4>
      { trips_lastJoined($r1[ID]) }
   </div>
   <div class="bgGreen little">
      <h4>Recentemente hanno detto...</h4>
      { feedback_last($r1[ID],5) }
      { feedback($r1[ID],getUserId()) }
   </div>
</div>
