<div class="listapercorsi"> 
   <a href="#"><img src="punto.gif" alt="Vedi percorso" class="punto" /></a>
   <p class="listapercorsi">
   <span class="utenti">
   Organizzatore: <!-- PROPRIETARIO -->
   </span>
   <span class="posti">
   <!-- NPDISP --> posti disponibili
   </span>
   </p>
   <p class="listapercorsi">
   <span class="tragitto">
   Da <!-- PARTENZA --> a <!-- DESTINAZ -->
   </span>
   <span class="altro">
   FUMO <!-- FUMO --> - MUSICA <!-- MUSICA -->
   </span>
   <span class="orario">
   <!-- ORA --> (<!-- DURATA -->)
   </span>
   </p>
</div>
