<div class="listatragitti"> 
   <a href="#"><img src="images/punto.gif" alt="Vedi percorso" class="punto" /></a>
   <p class="listatragitti">
   <span class="utenti">
   Organizzatore: { PROPRIETARIO }
   </span>
   <span class="posti">
   { NPDISP } posti disponibili
   </span>
   </p>
   <p class="listatragitti">
   <span class="tragitto">
   Da { PARTENZA } a { DESTINAZ }
   </span>
   <span class="altro">
   FUMO { FUMO } - MUSICA { MUSICA }
   </span>
   <span class="orario">
   { ORA } ({ DURATA })
   </span>
   </p>
</div>
