<div class="listatragitti"> 
   <p class="listatragitti">
   <span class="posti">
   </span>
   </p>
   <p class="listatragitti">
   <span class="tragitto">
   { $r1[dataPart] } ({ $r1[durata] })
   <a href="index.php?p=tragitti&amp;idTrip={$r1[ID] }">
   { $r1[partenza] } - { $r1[destinaz] }</a>
   (<a href="index.php?p=profilo&amp;userId={$r1[userName] }">{ $r1[userName] }</a>)
   </span>
   <span class="altro">
   { $r1[postiDisp] } posti
   FUMO { $r1[fumo] } - MUSICA { $r1[musica] }
   </span>
   <span class="orario">
   </span>
   </p>
</div>
