<div class="medium left">
   In questa pagina puoi cercare gli utenti o navigare tra le classifiche.
   <form action="">
      <input type="text" id="userName" />
      <button type="submit">Cerca</button>
   </form>
</div>
<div class="right">
<div class="bgAzure little ">
   Classifica 1
</div>
<div class="bgGreen little ">
   <h4>Ultimi iscritti</h4>
   { LASTINSCRIPTIONS }
</div>
<div class="bgAzure little ">
   Classifica 3
</div>
<div class="bgGreen little ">
   Classifica 4
</div>
<em style="display: block">cdsd</em>
</div>
