<script type="text/javascript">
function risultati() {
   var xmlHttp=GetXmlHttpObject();
   res=document.getElementById("risultati");
   userName=document.getElementById("search_username");
   
   xmlHttp.onreadystatechange=function() {
      if(xmlHttp.readyState==4) {
         res.innerHTML=xmlHttp.responseText;
      }
   }
   if (xmlHttp==null) {
      alert ("Il browser non supporta AJAX");
      return;
   }
   var url="pages/ajax.php";
   url=url+"?q=search_username"
   url=url+"&amp;username="+userName.value;
   alert (url);
   xmlHttp.open("GET",url,true);
   xmlHttp.send(null);
}
</script>


<div class="medium left">
   In questa pagina puoi cercare gli utenti o navigare tra le classifiche.
   <form action="">
      <div>
      <input type="text" id="search_username" />
      <button type="button" onclick="risultati()">Cerca</button>
      </div>
   </form>
   <div id="risultati">
   </div>
</div>
<div class="right">
<div class="bgAzure little ">
   <h4>Utenti con pi&ugrave; tragitti</h4>
   { users_mostActive() }
</div>
<div class="bgGreen little ">
   <h4>Ultimi iscritti</h4>
   { users_recentSignup() }
</div>
<div class="bgGold little ">
   Classifica 3
</div>
<div class="bgRed little ">
   Classifica 4
</div>
<em style="display: block">cdsd</em>
</div>
