<!-- Contenitore globale-->
<div id="container">
    <p>Benvenuto su CarPooling. In questo sito potrai trovare e creare tragitti! Non perdere tempo,inizia subito la ricerca.
	Oppure, se vuoi saperne di pi&ugrave;, vai alla pagina delle <a href="index.php?p=about">istruzioni</a> 
   </p>
   <br/> 
	<div id="mapContainer"> 
	     <!--  Tabella con intestazione, 1 riga e 2 celle -->		
	    <table class="directions">
		<!-- Intestazione Tabella -->
		<tr> 
		    <th>Map</th>
		    <th id="cellaDestra">Effettua la ricerca!</th>
		</tr>
		<!-- Prima cella che contiene la GMap -->
		<tr> 
		    <td valign="top">
			<div id="carPoolingMap" style="width: 510px; height: 400px"></div>
		    </td>
		    <!-- Seconda cella che contiene il form e le eventuali indicazioni  -->
		    <td  valign="top"> 
			<span>
			<form name="mapForm">
			    <ul>
				<li class="sinistra">
					<span>
					<input id="partenzaText" name="partenzaText" class="textField" size="16"/>
					<label class="commento" for="partenzaText">Citt&agrave; di partenza</label>
					</span>
				</li>
				<li class="destra">
					<span>
					<input id="arrivoText" name="arrivoText" class="textField" size="16"/>
					<label class="commento" for="arrivoText">Citt&agrave; di arrivo</label>
					</span>
				</li>
				<!-- Bottoni Funzione  -->
				<li class="sinistra">
					<span>
					<button id="searchButton" type="button" onclick="creaPercorso()">Ricerca</button>
					<button id="directionsButton"  type="button" onclick="creaIndicazioni()"/>Mostra indicazioni</button>
					</span>
				</li>
				<!-- Contenitore delle direzioni  -->
				<li class="sinistra">
				    <span>
				    <div id="directions" style="width: 320px"></div>
				    </span>
				</li>
			     </ul>
			</form>
		     </td>
		</tr>
	    </table>  <!-- Fine della tabella   -->
	</div> <!-- Fine di MapContainer  -->
</div> <!-- Fine del container generale  -->
